@model SurfboardQuiver.Models.Surfboard

@{
    ViewBag.Title = "Add a board!";
    Layout = "~/Views/Shared/_SurfboardLayout.cshtml";
}

<h2>Add a board!</h2>

@Html.Partial("_surfboardEntryForm")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
