@model SurfboardQuiver.Models.Surfboard

@{
    ViewBag.Title = "The NE Florida Surfboard Database";
    Layout = "~/Views/Shared/_SurfboardLayout.cshtml";
}

<h2>@*Index*@</h2>


<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">This site is a generalized page, promoting surfboard shapers of North East Florida</p>
    <p><a href="~/Surfboard/" class="btn btn-primary btn-lg">Enter the board room &raquo;</a></p>
    @*<p><a href="http://coffeeipsum.com/" class="btn btn-primary btn-lg">Learn more about how this site was built &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Explore these boards</h2>
        <p> Crema, mug ristretto ut sweet, as ristretto cappuccino siphon blue mountain galão steamed. 
            Single shot wings, crema arabica so, robusta half and half cup white single origin. </p>
        <p>
            French press flavour trifecta, eu, foam saucer steamed variety cappuccino strong foam grounds. Eu, sweet latte coffee café au lait lungo robust kopi-luwak.
            Dark qui a froth grinder cream qui eu flavour espresso. Medium sweet breve, half and half so blue mountain milk, dripper café au lait variety grounds irish.
            At, caramelization cream, dripper mazagran brewed café au lait black. Et acerbic percolator breve in brewed medium blue mountain.
        </p>
        <p><a class="btn btn-default" href="http://coffeeipsum.com/">Coffee</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coffee Mug</h2>
        <p>Grinder cultivar variety brewed medium skinny id caffeine, dark dripper grounds sit viennese organic, fair trade flavour, cup latte medium flavour plunger pot acerbic. Americano dark iced turkish dripper so eu, con panna rich mazagran, turkish coffee body, a cultivar flavour in crema. Fair trade, latte aromatic rich as, flavour, eu half and half ut sweet and iced sugar, and cream cinnamon single shot barista caffeine shop. At, white crema, single shot, strong viennese, dripper doppio, milk, kopi-luwak decaffeinated, frappuccino id dripper redeye medium spoon carajillo acerbic. Americano saucer aromatic instant, medium bar that crema chicory flavour cappuccino steamed caffeine dark chicory espresso roast iced doppio. Cultivar spoon, grinder seasonal sit extraction, flavour extra mazagran ut, crema mocha to go trifecta java coffee sugar trifecta, crema flavour aromatic est doppio.</p>
        <p><a class="btn btn-default" href="http://coffeeipsum.com/">More Coffee</a></p>
    </div>
    <div class="col-md-4">
        <h2>Thirsty for boards?</h2>
        <p>Many of these images came from this local store. They will treat well.</p>
        <p><a class="btn btn-default" href="http://coffeeipsum.com/">Cambium Surfboards</a></p>
    </div>
</div>